<h1 class="mt-5 mb-4 header">Upload an Image</h1>

<% if(errorMessage){ %>
<div class="alert alert-warning" role="alert"><%=errorMessage%></div>

<%}%>
<form action="/" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="caption" class="form-label">Caption</label>
    <textarea
      class="form-control"
      id="caption"
      name="caption"
      rows="3"
      required
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="imageURL" class="form-label">Image</label>
    <input
      type="file"
      class="form-control"
      accept="images/*"
      id="imageURL"
      name="imageURL"
      required
      value="my-new-image"
    />
  </div>
  <button type="submit" class="btn btn-primary">Upload Image</button>
</form>
